.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/vcs.xml
XYZReader/build/generated/assets/
XYZReader/build/generated/res/
XYZReader/build/generated/source/aidl/
XYZReader/build/generated/source/r/androidTest/
XYZReader/build/generated/source/rs/
XYZReader/build/intermediates/assets/androidTest/
XYZReader/build/intermediates/blame/res/androidTest/
XYZReader/build/intermediates/builds/
XYZReader/build/intermediates/dependency-cache/
XYZReader/build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.0.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.0.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/cardview-v7/22.0.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/cardview-v7/22.0.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/22.0.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/22.0.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/22.0.0/res/
XYZReader/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.0.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.0.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.0.0/res/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/res/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v4/22.0.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v4/22.0.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v4/22.0.0/res/
XYZReader/build/intermediates/incremental/packageDebugAndroidTest/
XYZReader/build/intermediates/incremental/packageRelease/
XYZReader/build/intermediates/jniLibs/
XYZReader/build/intermediates/manifest/tmp/
XYZReader/build/intermediates/reload-dex/
XYZReader/build/intermediates/res/merged/androidTest/
XYZReader/build/intermediates/rs/
XYZReader/build/intermediates/shaders/
XYZReader/build/intermediates/symbols/androidTest/
XYZReader/build/intermediates/transforms/extractJars/
XYZReader/build/intermediates/transforms/mergeJniLibs/
XYZReader/build/tmp/compileDebugJavaWithJavac/
